<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container" id="cnt">
    <div class="title">Registration For Unati 2.0 </div>
    <div class="content">

      <form method="post" action="https://script.google.com/macros/s/AKfycbzZFLGDYODWAQfyh9bMyKWUQUHUtD6eMsh90O3Na7fEiWgvgV0MjxO5jlbc2BujR9Mz/exec">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Team Name </span>
            <input name="Team Name" type="text" placeholder="Enter your Team Name" required>
          </div>
          <div class="input-box">
            <span class="details">Leader's Name</span>
            <input name="Leader's Name " type="text" placeholder="Enter your Leader's Name" required>
          </div>
          <div class="input-box">
            <span class="details">Leader's Reg Number</span>
            <input name="Leader Reg Number" type="text" placeholder="Enter your Leader's Reg Number" required>
          </div>
          <div class="input-box">
            <span class="details">Leader Whatsapp Number</span>
            <input name="Leader Whatsapp Number" type="text" placeholder="Enter your Leader's Whatsapp Number" required>
          </div>
          <div class="input-box">
            <span class="details">Team Member -1</span>
            <input  name="Team Member 1" type="text" placeholder="Enter your Team Member -1 " required>
          </div>
          <div class="input-box">
            <span class="details">Team Member -2</span>
            <input name="Team Member 2" type="text" placeholder="Enter your Team Member -2" required>
          </div>

          <div class="input-box">
            <span class="details">Team Leader E-Mail</span>
            <input name="Team Leader's Mail ID" type="text" placeholder="Confirm Your Team Leader E-Mail" required>
          </div>

          <div class="input-box">
            <span class="details">Referral Code</span>
            <input name="Referral Code" type="text" placeholder="Confirm your Referral Code" required>
          </div>
    

          <p>INTERBRANCH</p>

          <label>  
            <input type="radio" name="Interbranch" ng-model="angularYesOrNo" id="yesOrNo"  value="yes" /> Yes</label><br />
                     <label>
        <input type="radio" name="Interbranch" ng-model="angularYesOrNo" id="yesOrNo"  value="no" /> No</label><br />
            
          </div>

        </div>
         
        <input type="submit" class="btn"></button>


      </form>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
